* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62, 5%;
  }

  // menu de navegação

  body {
      background-color: whitesmoke;
  }

  .topo {
      display: flex;
      flex-direction: column;
      background-color: #485461;
      background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  }

  .topo header nav ul{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      li {
          list-style: none;
          padding: 1%;
          font-size: 1.5em;
        }
        a {
            color: whitesmoke;
            text-decoration: none;
      }
  }

  // container foto, nome e logos linguagens

  .imagem-topo {
      display: block;
      border-radius: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 2%;
  }

  .topo h1 {
      text-align: center;
      font-size: 3em;
      margin-top: 2%;
      color: whitesmoke;
  }

  .logos-back-front {
      display: flex;
      justify-content: space-evenly;
      margin-top: 5%;
      margin-bottom: 3%;
      p {
          margin-top: 5%;
          font-size: 1.2em;
          color: whitesmoke;
      }
  }

  // container estudos e escolas

  .estudo-escolas {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    h2 {
        font-size: 2em;
        padding: 3%;
        text-shadow: 5px 5px lightgrey;
        }
    }

     .estudo-escolas-listas {
        display: flex;
        justify-content: space-evenly;
        ul, h3 {
            font-size: 1.2em;
            margin-top: 2%;
            font-size: 1.5em;
       }
    }

    .canais-digitais {
        display: flex;
        justify-content: space-around;
        margin-bottom: 3%;
    }

    .canais-digitais-mobile {
        display: none;
    }

     // container contato / formulario

    .contato {
        padding: 3%;
        background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
    }

    .contato h2 {
        display: block;
        text-align: center;
        padding: 3%;
        font-size: 2em;
        color: whitesmoke;
        }

    form  table {
        border: 5px solid black;
        border-radius: 10%;
        font-size: 1.2em;
        color: whitesmoke;
        tr{
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 500px;
        }
            td, label, input, textarea{          
                padding: 3%;
                width: 400px;
            }   
        }

    .contato-form {
            display: flex;
            justify-content: space-around;
    }

    .contato-icones {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        
        a {
            color: inherit;
            transition: width 2s, height 2s, transform 2s;

            &:hover {
                transform: rotate(360deg);
            }
        }
    }

        footer {
            background-image: whitesmoke;
            font-size: 1.2em;
            display: block;
            text-align: center;
            padding: 1%;
            color: black;
        }

    // pagina 404.html

    .body-erro {
        background-color: white;
    }

    .home-img {
        position: absolute;
        top: 100px;
        width: 20vh;
        top: 0;
        animation: backhome 2s infinite;
        transition-timing-function: ease-in-out;
    }

    .erro-img {
        height: 90vh;
        width: 100vw;
        margin-top: 10vh;
    }

    @keyframes backhome {
        from {width: 20vh;}
        to {width: 25vh}
    }

    // mobile

    @media(max-width: 540px) {

        .topo header nav ul {
            flex-direction: column;
            align-items: flex-end;
            font-size: 0.8em;
        }

        .imagem-topo {
            width: 40%;
        }

        .topo h1{
            font-size: 2em;
            margin-top: 5%;
        }

        .logos-back-front {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 5%;
            p {
                font-size: 1em;
                padding: 3%;
                text-align: center;
            }
        }

        .estudo-escolas h2 {
            font-size: 1.5em;
            text-decoration: underline;
            text-shadow: none
        }

        .estudo-escolas-listas {
            display: flex;
            flex-direction: column;
            padding: 5%;
            ul, h3 {
                font-size: 1em;
                padding: 3%;
            }
        }

        .canais-digitais {
            display: none;
        }

        .canais-digitais-mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            iframe {
                margin-top: 10%;
            }
        }

        .contato {
            margin-top: 10%;
        }

        .contato-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        form table tr {
            width: 300px;
            td, label, input, textarea{
                width: 200px;
            }
        }

        .contato-icones {
            flex-direction: row;
            padding: 07%;
            a {
                padding: 3%;
            }
        }

    }